.body-section {
  height: 1080px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* container-411 */
.container-411 {
  width: 596px;
  height: 246px;
  border-radius: 12px;
  border: 1px solid #e8e7e7;
  background: #fff;
  position: absolute;
  top: 206px;
  left: 300px;
}
.container-411 h2 {
  margin-top: 20px;
  margin-left: 30px;
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.leftright411 {
  display: flex;
  flex-direction: row;
}
.container-411-left {
  margin-top: 16px;
  margin-left: 24px;
  display: flex;
  width: 265px;
  height: 160px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px 20px;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 12px;
  background: var(
    --trendcard,
    linear-gradient(287deg, #e9f5ff 4.32%, #c7dff4 94.53%)
  );
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.06);
}
.container-411-right {
  margin-top: 16px;
  margin-left: 12px;
  display: flex;
  width: 265px;
  height: 160px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px 20px;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 12px;
  background: var(
    --trendcard,
    linear-gradient(287deg, #e9f5ff 4.32%, #c7dff4 94.53%)
  );
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.container-411-left > span:nth-of-type(1),
.container-411-right > span:nth-of-type(1) {
  color: #1d1d1d;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  float: left;
}

.container-411-left > span:nth-of-type(2),
.container-411-right > span:nth-of-type(2) {
  color: #031b4b;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.unit {
  color: #4d4d4d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.value-411 {
  display: flex;
  gap: 8px;
}

/* container-410 */
.container-410 {
  position: absolute;
  top: 469px;
  left: 300px;
  display: flex;
  width: 596px;
  height: 269px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background: #f1f1f1;
}
.tab-container-1 {
  background: #fff;
  display: flex;
  width: 100%;
  height: 39px;
  padding-top: 11px;
  justify-content: flex-start;
}
.tab-left {
  width: 80px;
  padding: 5px 0 6px 27px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.card410content {
  display: none;
}
.card410content.active {
  display: block;
}

.card409content {
  display: none;
}
.card409content.active {
  display: block;
}

.tab-left.active {
  background-color: #fff;
  position: relative;
  color: #3069b3;
}
.tab-left.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: rgba(48, 105, 179, 1);
}
.card410-header {
  background: #03428e;
  padding: 10px 16px;
  color: #fff;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.card410-header h2 {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-410,
.card410content-header {
  box-sizing: border-box;
}
.card410content-header {
  display: flex;
  width: 596px;
  height: 39px;
  padding: 0px 16px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border: 1px solid #d9d9d9;
  background: #fff;
  justify-content: space-between;
}
.price-high {
  display: flex;
  padding: 6px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 50%;
}
.price-low {
  display: flex;
  padding: 6px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 50%;
}
.price-high span:first-child,
.price-low span:first-child {
  color: #03428e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* container-410  */
.container-409 {
  position: absolute;
  top: 754px;
  left: 300px;
  display: flex;
  width: 596px;
  height: 269px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: #f1f1f1;
}
/* 매도 매수 정보 container-413 */
.tab-container {
  display: flex;
  margin-bottom: 20px;
}

/* 각 탭 버튼 */
.tab {
  padding: 10px 20px;
  margin-top: 3px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  font-style: normal;
  margin-left: 29px;
}

/* 활성화된 탭 스타일 */
.tab.active {
  background-color: #fff;
  position: relative;
  color: #3069b3;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: rgba(48, 105, 179, 1);
  border-radius: 2px;
}

.tab-content {
  padding: 20px;
  border-radius: 0 5px 5px 5px;
}
.close {
  cursor: pointer;
  float: right;
}
.container-413 {
  position: absolute;
  bottom: 58px;
  right: 32px;
  width: 976px;
  height: 816px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #e8e7e7;
  background: #fff;
}
.container-413 .line {
  width: 923px;
  height: 1.5px;
  border: 1px solid rgba(227, 235, 237, 1);
  position: absolute;
  top: 42px;
  left: 30px;
}

#table2 {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
#table2 th {
  background: rgba(237, 239, 245, 1);
  white-space: nowrap;
  width: 100%;
  height: 48px;
  padding: 10px;
  text-align: center;
  table-layout: auto;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  border-top: 1px solid black;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}
#table2 th > span {
  color: #333;
  font-size: 12px;
  font-weight: 400;
}
#table2 td {
  border-top: 1px solid black;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  color: #333;
  font-size: 16px;
  height: 48px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  padding: 10px;
}
#table2 [title="상세보기"] {
  text-decoration: underline;
  cursor: pointer;
}
.btn-container {
  text-align: center;
  margin-top: 40px;
  gap: 10px;
}
.btn-order {
  padding: 6px 48px;
  border-radius: 3px;
  background: #03428e;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

/* modal창 */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #888;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  width: 726px;
}
.modal-content2 {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #888;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  width: 726px;

  height: 916px;
}
.modal-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}
table td {
  color: #808080;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: none;
}
table tr {
  border-bottom: 1px solid #ebebeb;
}
table th {
  background-color: #f2f2f2;
  font-weight: bold;
  width: 30%;
  vertical-align: middle;
  color: #1d1d1d;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.table-button {
  width: 110px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  background: #fff;
  display: flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin-left: 8px;
  line-height: 24px;
}
table td input,
table td select,
table td textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table td input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.file-upload {
  text-align: center;
  color: #888;
  margin-bottom: 10px;
  display: flex;
  width: 480px;
  padding: 16px 16px 20px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px dashed var(--popover-card-border, #e3e2eb);
  background: #f5f6fa;
  height: 149px;
}
.file-upload button {
  display: flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--font06, #b3b3b3);
  background: var(--gray-0, #fff);
  color: var(--gray-80, var(--font03, #333));
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */
}
.file-list {
  list-style: none;
  display: flex;
  width: 480px;
  padding: 4px 0px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  background: #f5f6fa;
}

.file-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.file-list li .file-name {
  color: #333;
}

.file-list li .file-remove {
  color: rgba(146, 145, 161, 1);
  cursor: pointer;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.form-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #03428e;
}

.btn-cancel {
  margin-right: 10px;
  display: flex;
  padding: 12px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #03428e;
  background: #fff;
  width: 124px;
}

.btn-submit {
  color: white;
  border-radius: 5px;
  background: #03428e;
  display: flex;
  width: 124px;
  padding: 12px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* table 상세 클릭 시 모달 창 css */
