.page-header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 98px;
  left: 298px;
}

.page-header h2 {
  width: 300px;
  color: rgba(77, 77, 77, 1);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.path {
  display: flex;
  position: absolute;
  top: 100px;
  right: 40px;
  color: #333;
  text-align: right;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.right-details {
  position: absolute;
  top: 123px;
  right: 40px;
  color: #4d4d4d;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 0 auto;
  position: absolute;
  top: 154px;
  left: 300px;
}

.national-info {
  width: 426px;
  height: 248px;
  top: 154px;
  left: 300px;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid rgba(232, 231, 231, 1);
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.06);
}

.weather-info {
  font-family: "Inter", sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  width: 426px;
  height: 248px;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid rgba(232, 231, 231, 1);
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.weather-head {
  display: flex;
  justify-content: space-evenly;
}
.weather-head div {
  margin-left: 120px;
  margin-top: 23px;
}

.weather-header {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
  color: rgba(3, 27, 75, 1);
}
.sunset {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: rgba(77, 77, 77, 1);
  align-items: stretch;
  margin-top: 10px;
  gap: 5px;
}
hr {
  width: 378px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgba(232, 231, 231, 1);
  margin-left: 24px;
}

.line {
  width: 66px;
  transform: rotate(90deg);
  border: 1px solid rgba(232, 231, 231, 1);
  margin-top: 11px;
}
.line2 {
  width: 66px;
  transform: rotate(90deg);
  margin-top: 25px;
  border: 1px solid rgba(232, 231, 231, 1);
}
.weather-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;

  flex-direction: column;
}

.details {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  align-items: baseline;
}

.detailsvalue {
  color: rgba(77, 77, 77, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  margin-bottom: 13px;
  display: flex;
  gap: 8px;
}
.detailsnumb {
  margin-left: 14px;
}

.national-info h2 {
  margin-bottom: 20px;
}

.national-data {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  margin-left: 24px;
  gap: 16px;
}

.righttitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  text-align: left;
  color: rgba(3, 27, 75, 1);
}
.large-number {
  color: rgba(3, 27, 75, 1);
  font-size: 30px;
  font-weight: 700;
  line-height: 35.8px;
  margin-top: 16px;
  text-align: left;
  display: flex;
  gap: 12px;
  align-items: center;
}
.national-info h2,
.weather-head h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;

  color: rgba(29, 29, 29, 1);
  margin-left: 24px;
  margin-top: 23px;
}

.info-item {
  color: rgba(77, 77, 77, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;

  margin-top: 10px;
}

.map {
  position: absolute;
  width: 984px;
  height: 916px;
  top: 154px;
  left: 896px;
}

/* middle-container */
.middle-container {
  display: inline-flex;
  padding: 27px 25px 23px 27px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #e8e7e7;
  background: #fff;
  box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.06);
  width: 868px;
  height: 200px;
  position: absolute;
  top: 416px;
  left: 300px;
}
.middle-container h2 {
  color: #1d1d1d;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 27px;
  left: 27px;
}
.card-head {
  display: flex;
  margin-top: 7px;
  margin-left: 14px;
  margin-right: 11px;
  justify-content: space-between;
}
.card-details-top {
  display: flex;
  justify-content: center;
}
.card-details-top span {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5px;
}
.card-details-top span > span:nth-child(1) {
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 31px;
}

.card-details-top span > span:nth-child(2) {
  color: rgba(255, 255, 255, 0.4);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0;
}
.content-card {
  width: 192px;
  height: 104px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #031b4b;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.06);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content-card:nth-child(2) {
  background: var(--primarycolor02, #03428e);
}
.content-card:nth-child(3) {
  background: var(--primary-color03, #3069b3);
}
.content-card:nth-child(4) {
  background: #c7dff4;
  color: var(--primary-color01, #031b4b);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content-card:nth-child(4) span > span {
  color: var(--primary-color01, #031b4b);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content-card:nth-child(4) span:nth-child(2) {
  color: rgba(3, 27, 75, 0.4);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content-card:nth-child(4) span {
  color: var(--primary-color01, #031b4b);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5px;
}
.middle-content {
  display: flex;
  gap: 16px;
  margin-bottom: -43px;
}
/* middle-container */

/* bottom-left */
.bottom-left {
  position: absolute;
  left: 0;
  top: 216px;
}
